@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: rgb(32, 32, 32);
  --header-height: 80px;
}
h4{
  margin: 0px;
  margin-bottom: 10px;
}
.header{
  width: 100%;
  height: var(--header-height);
  background: rgb(28, 31, 31);
}
.header button{
  padding: 8px 20px;
  height: 40px;
  margin-left: 10px;
  margin-top: calc((var(--header-height) - 40px) / 2);
  background: rgb(82, 116, 129);
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.editor{
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: flex;
}
.editor .code{
  flex: 5;
  overflow-y: scroll;
  background: rgb(40, 41, 43)
}
.editor .console{
  flex: 3;
  overflow-y: scroll;
  padding: 10px;
  background: rgb(32, 32, 32);
  color: white;
  font-size: 16px;
  word-wrap: break-word;
}
.output{
  font-family:monospace;
}
.output.error{
  color: red;
}
.CodeMirror{
  height: auto;
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgb(78, 78, 78);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(171, 171, 171, 0.148);
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgb(163, 163, 163);
}

/*for screen width less than 750px*/
@media screen and (max-width: 750px){
  .editor{
    flex-direction: column;
  }
  .editor .code{
    width: 100%;
    flex: 2;
  }
  .editor .console{
    width: 100%;
    flex: 1;
  }
}
